{% extends 'base.html' %} {% load static %} {% block body %}

<div class="container" style="height:90vh">
  <h1 class="text-center mt-5">Predict Fatalities</h1>
  <form action="\result/">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1">Fatal accident</label>
      <input
        type="text"
        name="fatal_accident"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
