{% extends 'base.html' %} {% load crispy_forms_tags %} {% block body %}
<div>
  {% if user.is_superuser %}
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="text-center">Edit Airlines</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-success">Update Airlines</button>
      </form>
    </div>
  </div>
  {% else %}
  <div>
    <h1 class="text-center">You Are Not SuperUser</h1>
  </div>
  {% endif %}
</div>
{% endblock %}