<nav class="navbar navbar-expand-lg" style="background-color: white ">
  <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">Airlines Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'safe' %}">Find safe journey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'price' %}">Predict price</a>
      </li>
      {% if user.is_superuser %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Airlines
        </a>
        <div class="dropdown-menu" id="navbarDropdown" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'airlines' %}">Add Airlines</a>
          <a class="dropdown-item" href="{% url 'airlinesList' %}">Airlines</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Feedback</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" id="navbarDropdown" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
          <a class="dropdown-item" href="{% url 'userflight'%}">My Flight</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Registration</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>